<div class="container-fluid">
    <header class="navbar navbar-dark bg-dark navbar-fixed-top navbar-expand-lg">

        <a class="navbar-brand" [routerLink]="['/']" (click)="navbarCollapsed = true">Dinewell</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
                [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <div ngbDropdown class="d-inline-block">
                        <a class="nav-link dropdown-toggle" id="residentDropDown" ngbDropdownToggle>
                            {{ 'NAV.RESIDENTS' | translate }}
                        </a>
                        <div ngbDropdownMenu aria-labelledby="residentDropDown">
                            <a class="dropdown-item" [routerLink]="['/residents']" (click)="navbarCollapsed = true">
                                {{ 'NAV.RESIDENTS' | translate }}
                            </a>
                            <a class="dropdown-item" [routerLink]="['/incidents']" (click)="navbarCollapsed = true">
                                {{ 'NAV.INCIDENTS' | translate }}
                            </a>
                            <a class="dropdown-item" [routerLink]="['/booking']" (click)="navbarCollapsed = true">
                                {{ 'NAV.BOOKINGS' | translate }}
                            </a>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <div ngbDropdown class="d-inline-block">
                        <a class="nav-link dropdown-toggle" id="reportsDropDown" ngbDropdownToggle>
                            {{ 'NAV.REPORTS' | translate }}
                        </a>
                        <div ngbDropdownMenu aria-labelledby="reportsDropDown">
                            <a class="dropdown-item" [routerLink]="['//report/meal-booking']"
                               (click)="navbarCollapsed = true">{{ 'NAV.DAILY_BOOKINGS' | translate }}
                            </a>
                            <a class="dropdown-item" [routerLink]="['//report/meal-summary']"
                               (click)="navbarCollapsed = true">{{ 'NAV.BOOKING_SUMMARY' | translate }}
                            </a>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <div ngbDropdown class="d-inline-block">
                        <a class="nav-link dropdown-toggle" id="foodManagementDropDown" ngbDropdownToggle>
                            {{ 'NAV.FOODM_MANAGEMNT' | translate }}
                        </a>
                        <div ngbDropdownMenu aria-labelledby="foodManagementDropDown">
                            <a class="dropdown-item" [routerLink]="['/seasonal-menus']"
                               (click)="navbarCollapsed = true">
                                {{ 'NAV.SEASONAL' | translate }}
                            </a>
                            <a class="dropdown-item" [routerLink]="['/weekly-menus']" (click)="navbarCollapsed = true">
                                {{ 'NAV.WEEKLY' | translate }}
                            </a>
                            <a class="dropdown-item" [routerLink]="['/special-events']"
                               (click)="navbarCollapsed = true">
                                {{ 'NAV.SPECIAL' | translate }}
                            </a>
                            <a class="dropdown-item" [routerLink]="['/daily-menus']" (click)="navbarCollapsed = true">
                                {{ 'NAV.DAILY' | translate }}
                            </a>
                            <a class="dropdown-item" [routerLink]="['/meals']" (click)="navbarCollapsed = true">
                                {{ 'NAV.MEALS' | translate }}
                            </a>
                        </div>
                    </div>
                </li>

                <ng-template ngxPermissionsOnly="ADMIN">
                    <li class="nav-item dropdown">
                        <div ngbDropdown class="d-inline-block">
                            <a class="nav-link dropdown-toggle" id="adminDropDown" ngbDropdownToggle>
                                {{ 'NAV.ADMINSTRATION' | translate }}
                            </a>
                            <div ngbDropdownMenu aria-labelledby="adminDropDown">
                                <a class="dropdown-item" [routerLink]="['/buildings']"
                                   (click)="navbarCollapsed = true">{{ 'NAV.BUILDINGS' | translate }}
                                </a>
                                <a class="dropdown-item" [routerLink]="['/users']"
                                   (click)="navbarCollapsed = true">{{ 'NAV.USERS' | translate }}
                                </a>
                                <a class="dropdown-item" [routerLink]="['/app-domains']"
                                   (click)="navbarCollapsed = true">{{ 'NAV.APP_DOMAINS' | translate }}
                                </a>
                            </div>
                        </div>
                    </li>
                </ng-template>

                <li class="nav-item dropdown">
                    <div ngbDropdown class="d-inline-block">
                        <a class="nav-link dropdown-toggle" id="managementDropDown" ngbDropdownToggle>
                            {{ 'NAV.MANAGEMENT' | translate }}
                        </a>
                        <div ngbDropdownMenu aria-labelledby="managementDropDown">
                            <a class="dropdown-item" [routerLink]="['/staff']"
                               (click)="navbarCollapsed = true">
                                {{ 'NAV.STAFF' | translate }}
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <label>
                        <select #langSelect (change)="translate.use(langSelect.value)">
                            <option *ngFor="let lang of translate.getLangs()" [value]="lang"
                                    [selected]="lang === translate.currentLang">{{ lang }}
                            </option>
                        </select>
                    </label>
                </li>
            </ul>
        </div>
    </header>
</div>
