<footer class="footer">
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="row">
                <!-- Residents -->
                <div class="col-xs-2">
                        <ul class="footer-nav">
                            <li class="first">{{ 'NAV.RESIDENTS' | translate }}</li>
                            <li><a href="/residents">{{ 'NAV.RESIDENTS' | translate }}</a></li>
                            <li><a href="/incidents">{{ 'NAV.INCIDENTS' | translate }}</a></li>
                            <li><a href="/booking">{{ 'NAV.BOOKINGS' | translate }}</a></li>
                        </ul>
                </div>
                <!-- Reports -->
                    <div class="col-xs-2">
                        <ul class="footer-nav">
                            <li class="first">{{ 'NAV.REPORTS' | translate }}</li>
                            <li><a href="/report/meal-booking">{{ 'NAV.DAILY_BOOKINGS' | translate }}</a></li>
                            <li><a href="/report/meal-booking-summary">{{ 'NAV.BOOKING_SUMMARY' | translate }}</a></li>
                        </ul>
                    </div>
                <!-- Food/Meals, etc -->
                <div class="col-xs-2">>
                        <ul class="footer-nav">
                            <li class="first">{{ 'NAV.FOODM_MANAGEMNT' | translate }}</li>
                            <li><a href="/seasonal-menus">{{ 'NAV.SEASONAL' | translate }}</a></li>
                            <li><a href="/weekly-menus"> {{ 'NAV.WEEKLY' | translate }}</a></li>
                            <li><a href="/special-events" >{{ 'NAV.SPECIAL' | translate }}</a></li>
                            <li><a href="/daily-menus" >{{ 'NAV.DAILY' | translate }}</a></li>
                            <li><a href="/meals" >{{ 'NAV.MEALS' | translate }}</a></li>
                        </ul>
                </div>
                <!-- Home sites and occupency -->
                <div class="col-xs-2">
                        <ul class="footer-nav">
                            <li class="first">{{ 'NAV.MANAGEMENT' | translate }}</li>
                            <li><a href="/staff">{{ 'NAV.STAFF' | translate }}</a></li>
                        </ul>
                </div>
                <!--  System administration -->
                <div class="col-xs-2">
                        <ul class="footer-nav">
                            <li class="first">{{ 'NAV.ADMINSTRATION' | translate }}</li>
                            <li><a href="/buildings" >{{ 'NAV.BUILDINGS' | translate }}</a></li>
                            <li><a href="/users" >{{ 'NAV.USERS' | translate }}</a></li>
                        </ul>
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
    </div>

    <ul class="list-inline">
        <li><small>{{ 'LEGAL.COPYRIGHT' | translate}}</small></li>
        <li>|</li>
        <li><small>{{ 'LEGAL.LICENSE' | translate}}</small></li>
        <li>|</li>
        <li><small>{{ 'LEGAL.ABOUT' | translate}}</small></li>
    </ul>

</footer>
