
footer a{
    color: #bfffff;
}
footer a:hover{
    color: white;
}

.footer-bottom{
    background: #999999;
    padding: 2em;
}
.footer-top{
    background-color: #999999;
}
.footer-middle{
    background: #3c3d41;
    padding-top: 2em;
    color: white;
}
